hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(51, 51, 51);
    margin: 0;
    padding: 0; 
}

.borders{
    border: 1px solid rgb(63, 63, 63);
    padding: 2px;
    margin: 1px;
    // border-radius: 7px;
}

.relativePos{
    position: relative;
}

.rightPositioning{
    position: absolute;
    top:2px;
    right:-30px;
}

// .flexRow{
//     display: flex;
// }

// .justBtw{
//     justify-content: space-between;
// }

// .flexColumn{
//     display: flex;
//     flex-direction: column;
// }

.incomeSource{
    font-size: 13px;
    // font-weight: bold;
    margin: 0;
    max-width: 100px;
}

.clickMouse{
    cursor: pointer;
}