<div class="container">
  <div id="budgetAdd" class="row justify-content-center">
    <div class="col-6">

      <div class="budgetAddTopRow">
        <label for="">Budget Name:
          <input type="text">
        </label>
        <label for="">Budgeted Amount:
          <input type="text">
        </label>
      </div>

      <div class="budgetAddBottomRow">
        <label for="">Type
          <div>
            <label for="">
              <input type="radio" name="type" value="fixed">
              <span>Fixed</span>
            </label>
            <label for="">
              <input type="radio" name="type" value="variable">
              <span>Variable</span>
            </label>
          </div>
        </label>

        <button>Add</button>
      </div>
    </div>
  </div>


  <div id="displaySection" class="row justify-content-around">
    <!-- <div class="col-12"> -->
    <div *ngFor="let budget of budgetItems" class="col-3 budgetDisplays">
      <div class="budgetDisplayTopRow">
        <h5 id="budDisplayTitle">{{budget.name}}</h5>
        <p id="budDisplayAmt">{{budget.budgetAmount}}</p>
      </div>
      <div class="budgetDisplayBottomRow">
        <p>{{budget.typeStr}}</p>
      </div>
    </div>
    <!-- </div> -->
  </div>
</div>